version: '3.8'

services:
  lab_{{ UUID }}:
    image: nginx:latest
    container_name: {{ UUID }}
    restart: always
    networks:
      - docker_default

networks:
  docker_default:
    external: true

